<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Bulletin Board</title>
  <link rel="stylesheet" href="/static/css/style.css" />
</head>
<body>
    <div id="terms-modal">
        <div id="terms-content">
            <h2>End User License Agreement</h2>
            <!-- EULA lol -->
            <div class="eula-box">
            <p>Before you may post on this Board, you <b>must heed and agree</b> to the following:</p>
            <ol>
                <li>Thou shalt have <b>no other</b> bulletin boards before this one.</li>
                <li>Thou shalt <b>not misuse</b> the holy post button.</li>
                <li>Thou shalt <b>not make false idols</b> of fellow posters, nor worship them.</li>
                <li>Thou shalt <b>not blaspheme or misuse</b> the name of this board.</li>
                <li>Remember the <b>reset day</b>, and keep it sacred and productive.</li>
                <li>Honor thy aliases, for they are thy identity upon the board.</li>
                <li>Thou shalt <b>not harm nor deface</b> the posts of others.</li>
                <li>Thou shalt <b>not steal</b> posts, <b>nor claim them</b> as thine own.</li>
                <li>Thou shalt <b>not bear false witness</b> upon the board.</li>
                <li>Thou shalt <b>not covet</b> thy neighbor’s posts, nor their colors.</li>
            </ol>
            </div>
            <!-- Violation warning -->
            <div class="violation-box">
            <p>Violations of these terms may bring forth <em>a great flood</em>!</p>
            </div>
            <!-- Accept  -->
            <button id="accept-terms">
            I Accept and will adhere to these terms.
            </button>
        </div>
    </div>
    <div id="welcome-modal">
        <div id="welcome-content">
            <h2>Welcome!</h2>
            <p id="user-alias"></p><br><br>
            <p id="board-quote"></p>
            <button id="enter-board">Enter Board</button>
        </div>
    </div>
    <div id="welcomeback-modal">
        <div id="welcomeback-content">
            <h2>Welcome Back!</h2>
            <p>The Board remembers you.</p>
            <p id="welcomeback-name"></p>
            <button id="welcomeback-enter">Return to the Board</button>
        </div>
    </div>
  <div id="toolbar">
    <div id="identity">Thou are <strong id="codename"></strong></div>
    <button id="add-btn">Post</button>
    <div id="timer">Board Lifespan <strong id="clock">00:00:00</strong></div>
  </div>
  <div id="board">
  </div>
  <script src="/static/js/term-modal.js"></script>
  <script src="/static/js/board.js"></script>
</body>
</html>